*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: $body_background_color;

    .main-content {
        padding-top: 80px;

        /* Theme Page */
        .theme-selection-div {
            display: flex;
        }
        @media (max-width: 800px) {
            .theme-selection-div {
                display: block;
            }
        }
        
        .theme-selection-div form:first-of-type {
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}


.navbar {

    background-color: $navbar_backgorund_color;
    border-color: $navbar_border_color !important;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .9), 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    min-height: $navbar_height;


    .navbar-brand {
        color: $nav_title_color;
        font-weight: 700;
    }

    .navbar-logo {
        height: $navbar_height - 25px;
        width: auto;
    }

    .navbar-toggler {
        border-color: $nav_unactive_color;
        box-shadow: none !important;
    }
    .navbar-toggler:hover {
        border-color: $nav_hover_color;
    }
    .navbar-toggler[aria-expanded="true"] {
        border-color: $nav_active_color;
    }

    .nav-link {
        color: $nav_unactive_color;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }

    .nav-link:hover {
        color: $nav_hover_color;
    }

    .nav-link.active {
        font-weight: bold;
        color: $nav_active_color;
    }

    .language-menu {
        img.change-language {
            width: 55px;
            padding: 10px;
            cursor: pointer;
            filter: brightness(66%);
            transition: filter 0.2s ease-in-out;
        }

        img.change-language:hover {
            filter: brightness(80%);
        }

        img.change-language.active {
            filter: brightness(100%);
        }
    }

}
