body {

    font-family: $text_font_family;
    color: $default_color;
    font-size: $default_font_size;
    line-height: 1.85;


    h1 {
        font-family: $title_font_family;
        color: $title_color;
        font-size: 2.45rem;
        line-height: 1.35;
    }

    h2 {
        font-family: $title_font_family;
        color: $title_color;
        font-size: 1.96rem;
        line-height: 1.35;
    }

    h3 {
        font-family: $title_font_family;
        color: $title_color;
        font-size: 1.57rem;
        line-height: 1.35;
    }

    h4 {
        font-family: $title_font_family;
        color: $title_color;
        font-size: 1.25rem;
        line-height: 1.35;
    }

    h5 {
        font-family: $title_font_family;
        color: $title_color;
        font-size: 1.25rem;
        line-height: 1.35;
    }

    h6 {
        font-family: $title_font_family;
        color: $title_color;
        font-size: 1.25rem;
        line-height: 1.35;
    }

    p {
        color: $text-color;
        font-size: 1rem;
    }

    ul li {
        font-size: 1rem;
    }

    a {
        color: $link_color;
        font-size: 1rem;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color: $link_hover_color;
        text-decoration: none;
    }
}
